/* Estilos padrão (para dispositivos móveis, mobile-first) */
body {
    font-size: 1rem;
    margin: 0.1rem;
  }
  
  /* Smartphones pequenos (até 480px) */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
      font-family: var(--fontPrincipal);
    }

    .apresentacao{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: 0;
  }

    .perfil{
        width: 5rem;
        height: 5rem;
        margin: 0.7rem;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.1rem;
        text-align: center;
        width: 20rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin: 1rem;
        text-align: center;
    }

    .buttonLink{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
    }

    #projetos{
        display: none;
    }

    .telaPequena{
        display: flex;
        flex-direction: row;
        overflow-x: auto;       /* Habilita rolagem horizontal */
        white-space: nowrap;    /* Mantém os elementos na mesma linha, sem quebra */
    }

    .titulo_secaoTelaP{
      display: flex;
      font-size: 0.9rem;
      margin: 0.5rem;
    }

    .barraRolagem .listaProjetos {
        display: inline-block;  /* Faz com que cada item fique em linha */
        margin-right: 0.7rem;     /* Espaçamento entre os itens */
      }

    .listaProjetos{
        border-radius: 0.5rem;
        border:0.1rem solid whitesmoke ;
        margin: 0.5rem;
        padding: 0.5rem 0;
    }

    header{
      margin-top: 2rem;
    }
    
    .button{
     padding: 0.3rem;
     border-radius: 1.5rem;
     font-size: 0.8rem;
    }

    .redessociais_links{
      margin: 0.5rem;
      font-size: 0.8rem;
      font-family: var(--fonteSecundaria);
  }
  }
  
  /* Tablets (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
  }
  
  /* Laptops e desktops pequenos (1024px a 1280px) */
  @media (min-width: 1024px) {
    body {
      font-size: 20px;
      padding: 20px;
    }
  }
  
  /* Desktops grandes (1440px a 1920px) */
  @media (min-width: 1440px) {
    body {
      font-size: 22px;
    }
  }  